.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::after {
  background: url(assets/bg-pattern.png);
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}

.popover {
  background-color: #f8d7da;
}

.bs-popover-right > .arrow::after,
.bs-popover-left > .arrow::after {
  border-left-color: #f8d7da;
  border-right-color: #f8d7da;
}

.bs-popover-bottom > .arrow::after,
.bs-popover-top > .arrow::after {
  border-bottom-color: #f8d7da;
  border-top-color: #f8d7da;
}

.popover-body {
  color: #dc3545;
}

.navbar {
  height: 56px;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: 0.25rem;
}

.lead-2 {
  font-size: 1.5rem;
}

#login-page,
#register-page {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 350px;
}

#title-page {
  font-size: large;
  font-weight: 300;
}
